beautifulsoup4
chromadb
click
datasets
faiss-cpu
langchain
langchain-community
langchain-openai
langgraph
matplotlib
openai
pandas
plotly
seaborn
sentence-transformers
scikit-learn
spacy
textblob
torch
tqdm
transformers
